<%= render "shared/banner", name: "Organize your movies", image: "banner.jpg" %>

<div class="container">
  <div class="cards my-3">
    <% @lists.each do |list| %>
      <%= link_to list_path(list) do %>
        <%= render "shared/card_category", name: list.name, image_url: list.image_url %>
      <% end %>
    <% end %>
  </div>
</div>
