<%= render "shared/banner", name: "Organize your movies", image: "banner.jpg" %>


<div class="container">
  <ul>
    <% @lists.each do |list| %>
      <li><%= "#{list.name} (#{list.id})" %></li>
    <% end %>
  </ul>
</div>
