<%= render "shared/banner", name: "Organize your movies", image: "banner.jpg" %>


<div class="container">
  <ul>
    <% @lists.each do |list| %>
      <li>
        <%= render "shared/card_category", name: list.name, image_url: list.image_url %>
      </li>
    <% end %>
  </ul>
</div>
