<%= render "/shared/banner", name: @list.name, image: @list.image_url %>

<div class="container">
  <div class="cards my-3">
    <% @list.bookmarks.each do |bookmark| %>
      <%= render "shared/card_trip", bookmark: bookmark %>
    <% end %>
  </div>
</div>
