<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path image %>);">
  <div class="container">
    <h1 class="text-center"><%= name %></h1>
  </div>
  <% if local_assigns[:movie_count] && movie_count.positive? %>
    <p id="count"><%= movie_count %> movie<% if movie_count > 1 %>s<% end %></p>
  <% end %>
</div>
